table {
    width: 50%;
}

td {
    vertical-align: top;
    text-align: left;
}

th {
    vertical-align: top;
    text-align: center;
}

* {
box-sizing: border-box;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.subforum-header {
    font-size: 16px;
    font-weight: bolder;
}


.container {
    margin: 20px;
    padding: 20px;
}

.subforum-description *{
    margin-block: 0;

}

.subforum-row {
    /* To display four cols in one line */
    display: grid;
    grid-template-columns: 10% 60% 20% 20%;
    
}

.subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #191919;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i {
    font-size: 45px;
}

.button-container {
    text-align: right;
    border: 1px;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    margin: 2px 2px;
    cursor: pointer;
}