{% extends "base.html" %}
{% block title %}Discussion Forum{% endblock %}
{% block content %}

<style>

    table {
        width: 50%;
    }

    td {
        vertical-align: top;
        text-align: left;
    }

    th {
        vertical-align: top;
        text-align: center;
    }

</style>

<!--Top block-->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width: 800px;" id="top">

    <h2 class="w3-wide">Discussion Forum</h2>
    <p class="w3-justify w3-center">Ask your questions below!</p>

</div>

<!--Middle block-->
<div class="w3-black" id="middle">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
    
        <!--FORUM PART GOES HERE-->


    </div>
</div>

<!--Send a question block-->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width: 800px;" id="top">
    <h2 class="w3-wide" "w3-center">Ask a question here!</h2>

    <div align="center">
        <table>
            <tr>
                <td><label for="author">Enter your name</label></td>
                <td><input type="text" id="author" name="author"><br><br></td>
            </tr>
            <tr>
                <td><label for="question">What is your question?</label></td>
                <td><input type="text" id="question" name="question"><br><br></td>
            </tr>


        </table>
    </div>
    
    <button type="button" onclick="alert('Your question has been submitted!')">Click Me!</button>
</div>
{% endblock %}