{% extends "base.html" %}
{% block title %}Discussion Forum{% endblock %}
{% block content %}

<style>

    table {
        width: 50%;
    }

    td {
        vertical-align: top;
        text-align: left;
    }

    th {
        vertical-align: top;
        text-align: center;
    }

    * {
    box-sizing: border-box;
    }

    a {
        color: #FFFFFF;
        font-weight: bolder;
        text-decoration: none;
    }

    .subforum-header {
        font-size: 16px;
        font-weight: bolder;
    }


    .container {
        margin: 20px;
        padding: 20px;
    }

    .subforum-description *{
        margin-block: 0;

    }

    .subforum-row {
        /* To display four cols in one line */
        display: grid;
        grid-template-columns: 10% 60% 20% 20%;
        
    }

    .subforum-column {
        padding: 10px;
        margin: 4px;
        border-radius: 5px;
        background-color: #191919;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subforum-icon i {
        font-size: 45px;
    }

</style>

<!--Top block-->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width: 800px;" id="top">

    <h2 class="w3-wide">Discussion Forum</h2>
    <p class="w3-justify w3-center">Ask your questions below!</p>

</div>

<!--Middle block-->
<div class="w3-black" id="middle">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
    
        <div class="container" id="forum"> <!--Container of homepage-->
            <div class="subforum">
                
                {% for post in posts %}
    
                    <!--ROW OF THE FORUM-->
                    <div class="subforum-row"> <!--Row with 4 columns-->
                        
        
                        <!--Col 1: Symbol/'avatar' for the post-->
                        <div class="subforum-icon subforum-column center">
                            <i class="fa fa-question-circle" style="font-size:36px"></i>
                        </div>
        
                        <!--Col 2: Overview of the forum-->
                        <div class="subforum-description subforum-column">
                            <h1 class="subforum-header"><a href="">{{post["QuestionTitle"]}}</a></h1>
                            <p>{{post["QuestionDescription"]}}</p>
                        </div>
        
                        <!--Col 3: Number of posts and replies for each forum-->
                        <div class="subforum-stats subforum-column center">
                            <span>24 Posts | 15 Topics</span>
                        </div>
        
                        <!--Col 4: Info about last post & user-->
                        <div class="subforum-info subforum-column">
                            <b><a href="">Last Post</a></b> by <a href="">{{posts["Author"]}}</a>
                            <br>on <small>{{posts["DatePosted"]}}</small>
                        </div>
        
                    </div>
                {% endfor %}
                
                
            </div>
        </div>


    </div>
</div>

<!--Send a question block-->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width: 800px;" id="top">
    <h2 class="w3-wide" "w3-center">Ask a question here!</h2>

    <div align="center">
        <table>
            <tr>
                <td><label for="author">Enter your name</label></td>
                <td><input type="text" id="author" name="author"><br><br></td>
            </tr>
            <tr>
                <td><label for="question">What is your question?</label></td>
                <td><input type="text" id="question" name="question"><br><br></td>
            </tr>


        </table>
    </div>
    
    <button type="button" onclick="alert('Your question has been submitted!')">Click Me!</button>
</div>
{% endblock %}