{% extends "base.html" %}
{% block title %}Learning Materials{% endblock %}
{% block content %}
<!--Top block-->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="top">
    
    <h2 class="w3-wide">Learning Materials</h2>
    <p class="w3-justify">In this section, you will find all the learning materials you need to teach yourself a new skill.</p>
    
</div>

<!--Middle block-->
<div class="w3-black" id="middle">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Topics</h2>
      <p class="w3-opacity w3-center"><i>All topics can be shown below:</i></p><br>
  
      <ol>
        <li><b>Topic 1:</b> Foo</li>
        <li><b>Topic 2:</b> Bar</li>
        <li><b>Topic 3:</b> Baz</li>
      </ol>
  
    </div>
  </div>

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="bottom">

    <h2>Files used in tutorials</h2>

    <ol class="w3-justify">
        <li>File 1</li>
        <li>File 2</li>
        <li>File 3</li>
    </ol>


  </div>

{% endblock %}