{% extends "base.html" %}
{% block title %}New post{% endblock %}

{% block content %}


<!--Top block-->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width: 800px;" id="top">

    <h2 class="w3-wide">Discussion Forum</h2>
    <p class="w3-justify w3-center">Add to the discussion!</p>

</div>



<!--Middle block-->
<div class="w3-black" id="middle">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
    
        <div class="container" id="forum"> <!--Container of homepage-->
            <div class="subforum">
                
                <form action = "{{ url_for("addpost") }}" method="POST">

                <h2 class="w3-center w3-wide w3-justify">Add your question here</h2>

                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name"><br><br>
                    <label for="qtitle">Question Title:</label><br>
                    <input type="text" id="qtitle" name="qtitle"><br><br>
                    <label for="qdesc">Question Description:</label><br>
                    <input type="text" id="qdesc" name="qdesc"><br><br>
              
                    <input type="submit" value="Add post to discussion forum"><br><br>

                </form>

                
            </div>
        </div>


    </div>
</div>



<!--Bottom block to display form data-->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
<p>Name: </p><br><p id="name_data"></p><br>
<p>Question Title: </p><br><p id="title_data"></p><br>
<p>Question Description: </p><br><p id="desc_data"></p><br>
</div>


<script>

    function getFormData() {
        /**
         * Function to get data from submission form
         */

        // Get items of data from the form
        var submission_name = document.getElementById("name").value;
        var submission_title = document.getElementById("qtitle").value;
        var submission_desc = document.getElementById("qdesc").value;
        
        // Repeat the values below
        document.getElementById("name_data").innerHTML = submission_name;
        document.getElementById("title_data").innerHTML = submission_title;
        document.getElementById("desc_data").innerHTML = submission_desc;
    
    }

</script>


{% endblock %}