{% extends "base.html" %}
{% block title %}{{post["QuestionTitle"]}} -- Discussion Forum{% endblock %}
{% block content %}

<!--CSS for forum content-->
<style>

    p {
        font-family: "Lato", sans-serif;
    }

    h1 {
        font-family: "Lato", sans-serif;
        font-size: 20px;
    }

    td {
        vertical-align: top;
        text-align: left;
    }

    th {
        vertical-align: top;
        text-align: center;
    }

    .post-row {
        /* To display four cols in one line */
        display: grid;
        grid-template-columns: 20% 100%;
        
    }

    .post-column {
        padding: 5px;
        margin: 4px;
        border-radius: 5px;
        background-color: #191919;
    }

    .post-heading {
        font-family: "Lato", sans-serif;
        font-weight: bold;
    }

    .post-details {
        font-family: "Lato", sans-serif;
    }

    .button-container {
        text-align: right;
        border: 1px;
    }

    .button {
        background-color: #000000;
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Lato", sans-serif;
        margin: 2px 2px;
        cursor: pointer;
    }

    

</style>

<!--Top block-->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width: 800px;" id="top">

    <h2 class="w3-wide">Discussion Forum</h2>
    <p class="w3-justify w3-center">Join the discussion below</p>

    
    <div class="button-container">
        <button id="add-post" type="button" class="button">Add post to discussion</button>
        <button id="back" type="button" class="button">Back</button>
    </div>

</div>

<!--Middle block-->
<div class="w3-black" id="middle">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
    
        <div class="container" id="post"> <!--Container of homepage-->
            <div class="post">


                <!--Headings for each individual post-->
                <div class="post-row">

                    <!--Col 1: Post author-->
                    <div class="post-author post-column">
                        <p class="post-heading"><b>Author</b></p>
                    </div>
                    
                    <!--Col 2: Post details-->
                    <div class="post-description post-column">

                        <p class="post-details"><b>Post details</b></p>

                    </div>
                
                </div>
                

                <!--Individual post goes here-->
                <div class="post-row">
                
                    <!--Col 1: Post author-->
                    <div class="post-author post-column">
                        <p>Posted by {{post["Author"]}} on {{post["DatePosted"]}}
                    </div>
                    
                    <!--Col 2: Post details-->
                    <div class="post-description post-column">

                        <h1 class="post-heading">{{post["QuestionTitle"]}}</h1>

                        <p class="post-details">{{post["QuestionDescription"]}}</p>

                    </div>
                
                </div>
                
                
                
            </div>
        </div>


    </div>
</div>

{% endblock %}